@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 50px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
}

.logo img {
    height: 55px;
}

.nav-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 20px;
    position: relative;
}

.nav-item a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.activate-trial, .sign-in {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}

.activate-trial {
    color: #b30000;
    border: 2px solid #b30000;
}

.sign-in {
    background-color: #b30000;
    color: white;
}
